.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr;
  grid-gap: 10px;
  padding: 100px;
  padding-right: 8%;
}

.goBackButton:hover {
  color: #97a663;
}

/* Column styles */
.column {
  flex: 1;
  max-width: 540px;
  margin: 10px 36px 10px 36px;
}

.imageContainer {
  background-color: #f7f8fa;
  width: 540px;
}

.image {
  width: 100%;
  height: auto;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: medium;
  line-height: 25.6px;
  letter-spacing: -0.9px;
  text-align: center;
  color: #6a7346;
  margin-top: 20px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: medium;
  line-height: 57.6px;
  letter-spacing: -0.9px;
  text-align: left;
  color: #6a7346;
  margin-top: 20px;
}

.price {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: semi-bold;
  line-height: 57.6px;
  letter-spacing: -0.9px;
  text-align: left;
  color: #97a663;
  margin-top: 10px;
}

.quantity {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: medium;
  line-height: 27.6px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #6a7346;
  margin-top: 10px;
}

.addToCartButtonContainer {
  display: inline-block;
}

.addToCartButton {
  width: 264px;
  height: 42px;
  border-radius: 4px;
  background-color: #97a663;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: regular;
  text-align: center;
  line-height: 42px;
  margin-top: 20px;
  cursor: pointer;
}

.box {
  margin-top: 40px;
  border: 1px solid #b1b5a4;
  border-radius: 4px;
  width: 540px;
  height: 103px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.row h6 {
  line-height: 25.6px;
  text-align: left;
  color: #000000;
  margin-right: 10px;
}

.row p {
  line-height: 25.6px;
  text-align: left;
  color: #b1b5a4;
  margin-right: 10px;
}
