.cartTitle {
  margin-top: 60px;
  margin-left: 60px;
  color: #6a7346;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 10px;
  font-size: 18pt;
  margin-bottom: 10px;
}

.cartContainer {
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  gap: 60px;
  padding: 20px;
}

.subtitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
  font-size: 10pt;
  color: #818181;
  font-weight: 400;
}

.subtitlePrice {
  margin-left: 160px;
}

.cartItem {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 2fr 1.3fr 0.3fr 0.1fr;
  margin-top: 5px;
  padding-right: 20px;
  box-shadow: 4px 4px 24px rgba(139, 167, 178, 0.16);
  border-radius: 6px;
}

.productGroup {
  display: flex;
  align-items: center;
}

.cartItemImage {
  height: 77px;
}

.cartItemName {
  font-size: 12px; /* Tamaño del nombre del producto */
  display: inline-block;
}

.cartItemPrice {
  margin-top: 20px;
  font-weight: bold;
}

.cartItemButton {
  background-color: #f2dcdb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  color: #a66363;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 400;
  transition: background-color 0.3s;

  &:hover {
    background-color: #a66363;
    color: #f2dcdb;
  }
}

.resume {
  margin-top: 10px;
  padding: 50px;
  box-shadow: 4px 4px 24px rgba(139, 167, 178, 0.16);
  border-radius: 6px;
}
.subtotal {
  color: #818181;
}

.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.total {
  font-size: 14pt; /* Tamaño del total */
  font-weight: bold;
  margin-top: 10px; /* Espacio superior */
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 380px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #97a663;
  border: none;
  color: #edf2db;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 400;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ddf391;
    color: #97a663;
  }
}

.nocartContainer {
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  gap: 60px;
  padding: 20px;
  margin: 150px;
}

.button {
  background-color: #97a663;
  border: none;
  color: #edf2db;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 14pt;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ddf391;
    color: #97a663;
  }
}

.button:hover {
  background-color: #ddf391;
  color: #97a663;
}
