.saludo {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  height: 40px;
  padding-top: 10px;
  padding-left: 25px;
}

.greenUser {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #97a663;
  height: 100%;
  font-weight: 600;
}

.subtitle {
  padding-bottom: 10px;
  font-size: 20px;
  color: #6a7346;
  width: auto;
  font-family: "Architects Daughter", cursive;
}

.label {
  font-family: "Roboto", sans-serif;
  width: 50%;
  height: 30px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.changeContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 35%;
  height: 40%;
}

input {
  padding: 10px;
  width: 50%;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  margin-top: 10px;
  background-color: #97a663;
  border: none;
  color: #edf2db;
  border-radius: 4px;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 12pt;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ddf391;
    color: #97a663;
  }
}

input:focus {
  border-color: #4caf50;
  outline: none;
}

input::placeholder {
  color: #999;
}

input:hover {
  border-color: #666;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 12px;
  height: 10px;
  width: 80%;
}
