.catePrecPais {
    display: flex;
    justify-content: space-between;
}
.volGraStock {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.buttonDanger {
    margin-left: 50px;
}