.contpagination{
    display: flex;
    background-color: #97A663;
    color: #EDF2DB;
    padding: 10px 10px;
    position: relative;
}
.barraDatos {
    width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.pagination {
    display: flex;
    width: 300px;
    position: absolute;
    right: 0;
}
.pagination button{
    color: #EDF2DB;
    background-color: #97A663;
    border: none;
}
.gridContainer {
    margin-top: 20px;
}
.gridContainer ul{
    list-style-type: none;
}
.pageNumbers{
    display: flex;
    gap: 4px;
}
.pageNumbers div {
    padding: 5px 10px;
    cursor: pointer;
}
.pageNumbers div.activePage {
    background-color: #DDF391; /* Cambia el color de fondo para resaltar el número actual */
    color: #B1B5A4; /* Cambia el color del texto para resaltar el número actual */
}
.contentProduct{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.productInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.buttonEdit{
    background-color: #97a663;
    border: none;
    color: #edf2db;
    border-radius: 4px;
    padding: 6px 20px;
    font-weight: 400;
    font-size: 12pt;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #ddf391;
      color: #97a663;
    }
}
.buttonDesactivar{
    background-color: rgb(240, 183, 183);
    color: rgb(167, 58, 58);
}
.contentProduct {
    display: flex;
    flex-direction: column;
}
.product{
  display: flex;
  gap: 50px; 
}
.product span {
    margin: 2px 0; 
}
